@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

.not-found-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.not-found-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background: #eceff1;
}
.not-found-container {
    background: white;
    font-family: Montserrat, sans-serif;
    height: auto;
    width: 40vw;
    padding: 1.5rem;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    text-align: center;
}

.not-found-container h1 {
    font-size: 1.25rem;
    margin: 0;
    margin-top: 1rem;
    color: #263238;
    opacity: 0;
    transform: translateX(-0.1rem);
    animation: fadeIn 0.5s forwards 0.75s;
}

.not-found-container p {
    margin: 0;
    margin-top: 0.5rem;
    color: #546e7a;
    opacity: 0;
    transform: translateX(-0.1rem);
    animation: fadeIn 0.5s forwards 0.75s;
}

.not-found-sign {
    font-size: 5rem;
    color: #ef5350;
}

@media screen and (max-width: 768px) {
    .not-found-container {
        width: 50vw;
    }
}

@media screen and (max-width: 600px) {
    .not-found-container {
        width: 60vw;
    }
}

@media screen and (max-width: 500px) {
    .not-found-container {
        width: 80vw;
    }
}

@keyframes fadeIn {
    from {
        transform: translateY(1rem);
        opacity: 0;
    }
    to {
        transform: translateY(0rem);
        opacity: 1;
    }
}



